body {
    background-image: url("https://i.pinimg.com/564x/6e/1d/1d/6e1d1d4fc0a5af505ffa0526f6db4819.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.navBar {
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    z-index: 9999; /* Ajusta el valor del z-index según sea necesario */
  }
  
.errorBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Ajusta la altura según tus necesidades */
    z-index: 9999; /* Ajusta el valor del z-index según sea necesario */
  }
  
.paginadoContainer {
    display: flex;
    justify-content: center;
    margin-top: -5px;
  }
  
.errores{
    position: fixed;
    top: 100px;
    left: 400px;
    background-color: azure;
    height: 200px;
  }