  .linkContainer {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 2; /* Valor superior para el contenedor de enlace */
  }
  
  .link {
    color: white;
  }
  
  .link:hover {
    font-size: large;
    color: black;
    
  }